extends layout

block content

  h2.text-2xl.font-semibold.mb-6 Welcome to Your Dashboard!
  div(class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6")
    div(class="bg-white shadow-lg hover:bg-blue-100 rounded-lg p-6 transition-transform duration-300 transform hover:scale-105")
      h3.text-lg.font-bold Total Users
      p.text-2xl #{totalUsers}
      a(href="/admin/users" class="mt-4 inline-block px-4 py-2 bg-blue-500 text-white font-bold rounded hover:bg-blue-700 transition duration-300") View Users

    div(class="bg-white shadow-lg hover:bg-blue-100 rounded-lg p-6 transition-transform duration-300 transform hover:scale-105")
      h3.text-lg.font-bold Total Posts
      p.text-2xl #{totalPosts}
      a(href="/admin/posts" class="mt-4 inline-block px-4 py-2 bg-blue-500 text-white font-bold rounded hover:bg-blue-700 transition duration-300") View Posts

    div(class="bg-white shadow-lg hover:bg-blue-100 rounded-lg p-6 transition-transform duration-300 transform hover:scale-105")
      h3.text-lg.font-bold Total Comments
      p.text-2xl #{totalCommentsCount}


  // Data Analysis Section with Pie Chart
  .mt-12.w-full
    h2.text-2xl.font-semibold.mb-6 Data Analysis - Chart View
    .bg-white.shadow.rounded-lg.p-6
      div(class=" flex justify-center w-full items-center")
        div(class="max-sm:w-full lg:w-3/4")
          canvas#userDataChart




  block scripts
    // Embedding variables as global JavaScript variables
    script.
      const totalUsers = !{JSON.stringify(totalUsers)};
      const totalPosts = !{JSON.stringify(totalPosts)};
      const totalCommentsCount = !{JSON.stringify(totalCommentsCount)};
      
    script(src='/js/dashboard.js') 
    script(src='/js/layoutScripts.js') 